* {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

button {
  background-color: #e41f67;
  color: #f2f2f2;
  outline: none;
  transition: transform ease 300ms;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
}

button:hover {
  transform: translate(0, -10px);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 84vw;
  margin: auto;
  left: 0px;
  right: 0px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 1em;
}

.headingIcon {
  height: 70px;
  width: 70px;
}

.headingText {
  font-size: 40px;
}

.projectInfo {
  font-size: 20px;
}

.containerTwo {
  display: flex;
  align-items: center;
}

.logContainer {
  min-width: 250px;
  border: 2px solid #1b7dec;
  color: #1b7dec;
}

.logHeading {
  font-size: 1.3rem;
  text-align: center;
}

.log {
  margin: 1rem;
  line-height: 5px;
  font-size: 1.2rem;
}

.strip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 84vw;
  margin: auto;
  left: 0px;
  right: 0px;
  background-color: #f2f2f2;
}

.library {
  width: 84vw;
  left: 0px;
  right: 0px;
  margin: auto;
}

.books,
th,
td {
  width: 84vw;
  text-align: left;
  padding: 1vw;
  border-collapse: collapse;
  border-bottom: 1px solid #e1e1e1;
}

.toggleStatus,
.deleteBook {
  min-width: 9vw;
  min-height: 6vh;
  border-radius: 4px;
}

.footer {
  position: fixed;
  bottom: 3vh;
  right: 3vh;
}

.addBookBtn {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  padding: 10px;
  background: #2196f3;
  border-color: transparent;
  color: white;
  text-align: center;
  font: 2em Arial, sans-serif;
}

.formContainer {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  height: 68vh;
  width: 400px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  background: white;
  border: 2px solid red;
  border-radius: 10px;
}

.cancel {
  position: absolute;
  top: 05px;
  right: 0px;
  font-size: 1.2em;
  color: black;
  background: transparent;
}

h1 {
  text-align: center;
}

.formElements {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

input {
  margin: 0px;
  padding: 0px;
  height: 3.5vh;
  width: 100%;
}

#read,
#notRead {
  height: 2vh;
  width: 2vw;
}

.errMsg {
  font-size: 1em;
  color: red;
  text-align: center;
  padding: 0.8em;
  border: 2px solid red;
}

.boxBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.formBtn {
  width: 130px;
  height: 6vh;
  border-radius: 4px;
}
