* {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 84vw;
  margin: auto;
  left: 0px;
  right: 0px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 1em;
}

.headingIcon {
  height: 70px;
  width: 70px;
}

.headingText {
  font-size: 40px;
}

.projectInfo {
  font-size: 20px;
}

.containerTwo {
  display: flex;
  align-items: center;
}

.logContainer {
  min-width: 250px;
  border: 2px solid #1b7dec;
  color: #1b7dec;
}

.logHeading {
  font-size: 1.3rem;
  text-align: center;
}

.log {
  margin: 1rem;
  line-height: 5px;
  font-size: 1.2rem;
}

.strip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 84vw;
  margin: auto;
  left: 0px;
  right: 0px;
  background-color: #f2f2f2;
}

.library {
  width: 84vw;
  left: 0px;
  right: 0px;
  margin: auto;
}

.books,
th,
td {
  width: 84vw;
  text-align: left;
  padding: 1vw;
  border-collapse: collapse;
  border-bottom: 1px solid #e1e1e1;
}

.toggleStatus,
.deleteBook {
  min-width: 9vw;
  min-height: 6vh;
  border-radius: 4px;
}
